body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 12; }
}

.dot {
  animation: blink 2s infinite;
  color: rgb(206, 11, 11);
  border-color: rgb(206, 11, 11);
  
}